/**
 * Author: Thomas H, Torjus A.M
 *
 * CSS module for the EmployeeList. It contains styles for the list
 * of employees on the frontpage, inidividual employee cards and conditional
 * styling for selecting and clocked in employees.
 * 
 * To-Do: 
 *   Update borders on the profile pictures. 
 *   Handle too long of a employee name. (With ellipsis?)
 */

/* Google fonts Public Sans & Lato*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Outer container */
.EmployeeList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/* Ruleset for adjusting the employee-cards based on width of the screen.
   ========================================================================== */
/* M resolution, default. Display 2 cards pr row */
.EmployeeList>div {
    /* -1rem takes into account 50% including a margin between cards */
    flex-basis: calc(50% - 1rem);
}

/* S resolution. Display 1 card per row. */
@media screen and (max-width: 1000px) {
    .EmployeeList>div {
        flex-basis: 100%;
    }
}

/* L resolution. Display 3 cards per row. */
@media screen and (min-width: 1700px) {
    .EmployeeList>div {
        flex-basis: calc(33.33% - 1rem);
    }
}

/* Employee cards
   ========================================================================== */
.employeeCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-height: 7em;
    margin-bottom: 1rem;
    padding: 0.8em;
    border: 2px solid #F33161;
    border-radius: 5em;
    box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.profilePicture {
    max-width: 4.8em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 2px solid #000;
}

/* Container for employees name and last check time */
.infoContainer {
    display: flex;
    line-height: 2rem;
    margin-left: 0.7rem;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.employeeName {
    font-size: 1.8rem;
    color: #121212;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
}

/* Container for arrow icon and last check time */
.lastCheckContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.lastCheckTime {
    color: #4E5052;
    font-family: 'Lato', sans-serif;
    font-size: 1.88rem;
    margin-left: 0.1em;
}

.icon {
    width: 1.3rem;
}

/* Conditional styling for selecting employees and clocked in employees border
   ========================================================================== */

.selected {
    box-shadow: inset 0px 10px 10px rgba(169, 214, 229, 10);
    background-color: rgba(38, 191, 147, 0.15);
}

.isClockedIn {
    border: 2px solid #26BF93;
}