/* Inspiration: https://codepen.io/liamj/pen/vYYLGZj */
.form {
    display: flex;
    width: 50%;
    background: #18A0FB;
    border-radius: 2rem;
    border: 1px solid #6F6F6F;
    margin-left: 1.5rem;
    height: 90%;
}

.icon {
    width: 2.8rem;
    stroke: #ffffff;
    fill: none;
    stroke-width: 1.5;
    margin: 0 1rem;
    aspect-ratio: 1/1;
}

.input,
.button {
    font-family: 'Lato', sans-serif;
    color: #6F6F6F;
    font-size: 1.4rem;
    height: 100%;
}

.input[type="search"] {
    outline: 0;
    width: 100%;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: 0 2rem 2rem 0;
    transition: all 0.4s cubic-bezier(0, 0, 0.43, 1.49);;
    transition-property: width, border-radius;
}

.button {
    display: none;
    width: 6rem;
    color: #fff;
    font-weight: 700;
    background: #18A0FB;
    border-radius: 2rem;
}

.input:not(:placeholder-shown) {
    border-radius: 0;
    width: calc(100% - 8rem);

    + .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .input:not(:placeholder-shown) {
        width: calc(100% - 5rem);
    }
}

@media (min-width: 1600px) {
    .input:not(:placeholder-shown) {
        width: calc(100% - 9rem);
    }

    .button {
        width: 8rem;
    }
}