/*
    Author: Torjus A.M
    Makes the keyboard take up half the screen without disturbing the flex layout of the rest of the app.
*/
.keyboardContainer {
    position: fixed;
    /* Position at the middle of the screen vertically */
    left: 0;
    top: 72.5%;
    transform: translateY(-50%);
    width: 100vw;
    height: 55vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.keyboardContainer.hidden .keyboardWrapper {
    visibility: hidden;
}