/**
 * Author: Torjus A.M
 *
 * CSS module to style the table aswell as the time modules of the clock history module. "Stemplingshistorikk". 
 * The sizes of various elements in the table is adjusted by screen sized, and are not defined a default size.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

/* ==========================================================================
   Time modules styles
   ========================================================================== */
.timeModulesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 1em;
    margin-bottom: 0;
}

.timeModules {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 4px 3px 0.2px #d5d5d5;
    border: #f6f6f6 0.5px solid;
    flex-grow: 1;
    line-height: 2.3em;
}

.timeModules h1 {
    color: #212B36;
    font-family: 'Public Sans', sans-serif;
}

.timeModules h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #212B36;
    letter-spacing: 0.025em;
    white-space: nowrap;
}

.salaryTextColor {
    color: #0DB714;
}

/* ==========================================================================
   Table styles
   ========================================================================== */
.tableContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .08);
    overflow: auto;
    overflow-x: hidden;
    margin: 1em;
}

.tableRow {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 0.1em solid #C9CBD0;
}

.rowItem {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Header */
.heading {
    background-color: #F5F7FA;
}

.heading>.rowItem {
    flex: 1;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    color: #606266;
}

.date h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #212B36;
}

.date h2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    color: #606266;
}

/* Column 3-4: Time */
.rowItem h3 {
    font-family: 'Lato', sans-serif;
    color: #4E5052;
}

/* Styles for subcontainer (Clockin/out times).
   ========================================================================== */
.rowSubContainer {
    display: flex;
    flex-flow: column nowrap;
}

/* Width of column and its heading */
.rowSubContainer,
.heading>.rowItem:nth-child(2) {
    flex: 0 0 8rem;
}

.rowSubContainer>.rowItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding: 0.22em;
    border-bottom: 0.1em solid #C9CBD0;
    align-items: center;
}

.icon {
    width: 1.2rem;
    aspect-ratio: 1/1;
}

.rowSubContainer h1 {
    display: flex;
    justify-self: center;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-left: 0.25em;
    color: #4E5052;
}

/* Remove border if its a subContainer to avoid overlapping borders */
.tableRow:last-child,
.rowSubContainer .rowItem:last-child {
    border-bottom: 0;
}

/* Media queries
   ========================================================================== */
/* XS resolution */
@media screen and (max-width: 1360px) {
    .timeModules {
        line-height: 2.2em;
    }
    .timeModules h1 {
        font-size: 1.3rem;
    }

    .timeModules h2 {
        font-size: 1.8rem;
    }

    .heading>.rowItem {
        font-size: 1.1rem;
    }

    /* Date column and header width */
    .date,
    .heading>.rowItem:nth-child(1) {
        flex: 0 0 3.3rem;
    }

    .rowSubContainer,
    .heading>.rowItem:nth-child(2) {
        flex: 0 0 6rem;
    }

    .icon {
        width: 1.1rem;
    }

    .date h1 {
        font-size: 1.45rem;
    }

    .date h2 {
        font-size: 1rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.35rem;
    }

    .rowSubContainer>.rowItem {
        padding: 0.1em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 1.4rem;
        white-space: nowrap;
    }
}

/* S resolution */
@media screen and (min-width: 1360px) and (max-width: 1580px) {
    .timeModules {
        line-height: 2.1em;
    }
    .timeModules h1 {
        font-size: 1.3rem;
    }

    .timeModules h2 {
        font-size: 1.9rem;
    }

    /* Date column and header width */
    .date,
    .heading>.rowItem:nth-child(1) {
        flex: 0 0 4.8rem;
    }

    .rowSubContainer,
    .heading>.rowItem:nth-child(2) {
        flex: 0 0 7rem;
    }

    .date h1 {
        font-size: 1.75rem;
    }

    .date h2 {
        font-size: 1.25rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.5rem;
    }

    .rowSubContainer>.rowItem {
        padding: 0.05em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 1.75rem;
        white-space: nowrap;
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}

/* M resolution */
@media screen and (min-width: 1580px) and (max-width: 1700px) {
    .timeModules h1 {
        font-size: 1.4rem;
    }

    .timeModules h2 {
        font-size: 2.1rem;
    }

    /* Date column and header width */
    .date,
    .heading>.rowItem:nth-child(1) {
        flex: 0 0 5.5rem;
        padding: 0.3em;
    }

    .rowSubContainer,
    .heading>.rowItem:nth-child(2) {
        flex: 0 0 7.5rem;
    }

    .date h1 {
        font-size: 1.95rem;
    }

    .date h2 {
        font-size: 1.35rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.7rem;
    }

    .rowSubContainer>.rowItem {
        padding: 0.01em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 2.3rem;
        white-space: nowrap;
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}

/* L resolution */
@media screen and (min-width: 1700px) {
    .timeModules h1 {
        font-size: 1.5rem;
    }

    .timeModules h2 {
        font-size: 2.2rem;
    }

    .heading>.rowItem {
        font-size: 1.5rem;
    }

    /* Date column and header width */
    .date,
    .heading>.rowItem:nth-child(1) {
        flex: 0 0 7.3rem;
        padding: 0.3em;
    }

    .rowSubContainer,
    .heading>.rowItem:nth-child(2) {
        flex: 0 0 9rem;
    }

    .date h1 {
        font-size: 2.3rem;
        line-height: normal;
    }

    .date h2 {
        font-size: 1.6rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.9rem;
    }

    .rowSubContainer>.rowItem {
        padding: 0.01em;
    }

    .icon {
        width: 1.5rem;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 2.6rem;
    }
}

/* Loading styles. Scuffed but works(?)
   ========================================================================== */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}