/*
 * Author: Torjus A.M, Thomas H
 *
 *  CSS module for the main layout containers.
 *  The page is divided into two main containers, left(34%) and right(67%).
 *  Primarily aimed at tablets and touchscreens.
 *  This module also includes the container for the navbars, and the container for the homepage
 */

.veryOuterContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Parent of all items on right side */
.rightContainer {
    display: flex;
    background: #F8F8F8;
    width: 67vw;
    height: 100vh;
    margin: 0;
    /* Rounded edges only on left side */
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

/* Parent of all items on left side */
.leftContainer {
    display: flex;
    /* Stack content ontop of eachother vertically, and distribute it with equal space between */
    flex-direction: column;
    justify-content: space-between;
    /* Take up all available space, but dont exceed 33% of the viewport*/
    height: 100vh;
    width: 100%;
    max-width: 33vw;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    padding: 2.3rem;
    overflow: auto;
    min-width: 100%;
}

/* Media query to change the homepage's padding by viewport size */
@media screen and (max-width: 1300px), (max-height: 800px) {
    .homePageContainer {
        padding: 1.5rem;
    }
}