/**
 * Author: Torjus A.M
 *
 *  CSS module for main shared layout of all pages. 
 *  Divided into two main containers in a parent container.
 *  Responsive design: Left (34%) and right (67%) of viewport.
 *  Primarly aimed at tablets and touchscreens. 
 */

/* Parent container */
.veryOuterContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Parent of all items on right side */
.rightContainer {
    display: flex;
    background-color: #F8F8F8;
    /* Take up all available space, but dont exceed 67% of the viewport*/
    width: 67vw;
    height: 100%;
    margin: 0;
    /* Grow automatically to take up any remaining space*/
    /* Rounded edges only on left side */
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

/* Parent of all items on left side */
.leftContainer {
    display: flex;
    /* Stack content ontop of eachother vertically, and distribute it with equal space between */
    flex-direction: column;
    justify-content: space-between;
    /* Take up all available space, but dont exceed 33% of the viewport*/
    height: 100vh;
    width: 100%;
    max-width: 33vw;
}