/**
 * Author: Torjus A.M
 *
 * Styles for the PunchClock module (Stemplingsklokke).
 *
 *
 * TODO:
 *   
 */

 @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ==========================================================================
  Button styles
  ========================================================================== */
.buttonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    padding: 0.2em;
    border-radius: 0.5em;
    /* Text styles */
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}


.buttonContainer:active {
    box-shadow: 2px 4px 6px 0px rgba(79, 83, 85, 0.5);
}

.clockedIn {
    background-color: #F42B2B;
}

.clockedOut {
    background-color: #008A06;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    aspect-ratio: 1/1;
    border-radius: 0.8em;
    padding: 0.4em;
    margin-right: 0.5em;
}

/* Conditional stylign based on if iconcontainer is a child of .clockedOut or not */
.clockedOut .iconContainer {

}

.clockedIn .iconContainer {
    background-color: #f74646;
    box-shadow: 1px 1px 1px  rgba(120, 63, 63, 0.3);
}

.icon {
    display: flex;
    stroke: white;
    fill: white;
    stroke-width: 0.1em;
}


/* ==========================================================================
   Timer styles
   ========================================================================== */
.timeDisplay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.2em auto;
    overflow: hidden;
    /* Text styles */
    color: #4E5052;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
/* Timer */
.timeDisplay h1 {
    font-size: 3.2rem;
}

/* Time between check-times */
.timeDisplay h2 {
    margin-top: 0.5em;
    font-size: 1.5rem;
}

/* Timer loading styles
   ========================================================================== */
.line {
    margin-top: 1.3em;
    height: 2.4rem;
    width: 18em;
    border-radius: 5em;
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 0.5s infinite ease-out;
  }
  
.w2 {
    margin-top: 2.3em;
    margin-bottom: 0.6em;
    height: 1.2rem;
    width: 5.5em;
}
  @keyframes wave-lines {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }