/* Author Thomas, Torjus A.M */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
/* Author Thomas */
.employeeListContainer {
    display: flex;
    flex: 1 0 32%; /* Grow and shrink, basis of 33% */
    max-width: 50%; /* Maximum width of 50% */
    max-height: 8em;
    margin-left: 0.35rem; 
    margin-bottom: 1rem;
    background-color: rgba(169, 214, 229, 0.1);
    padding: 1em; 
    
    overflow-y: auto;
    border: 2px solid #F33161;
    border-radius: 5em; 
    box-shadow: 0px 10px 10px rgba(169, 214, 229, 0.4);
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1; 
}

.profilePicture {
    max-width: 6em;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1; 
    border: 2px solid #000; /* adjust border width and color as needed */
}

/* Author: Torjus A.M */
.EmployeeList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
}

.selected {
    box-shadow: inset 0px 10px 10px rgba(169, 214, 229, 10); 
    background-color: rgba(169, 214, 229, 0.4);
}

.infoContainer {
    display: flex;
    line-height: 2.5em;
    margin-left: 0.7rem;
    flex-direction: column;
    justify-content: center;
}

.employeeName {
    font-size: 2rem;
    color: #121212;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
}

.isClockedIn {
    border: 2px solid #26BF93;
}