/**
 * Author: Torjus A.M
 *
 * CSS module for the shared content on the left side of the screen.
 * Changes the size of the clock, date and greeting based on the screen width.
 */

/* Google fonts: Lato & DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Logo top left */
.logo {
    display: flex;
    align-self: flex-start;
    width: 9vw;
    margin: 1rem;
    /* Hovering changes the cursor to show clickability (only relevant on PC, not on touchscreen)*/
    cursor: pointer;
}

/* Clock, date and greeting, aswell as media queries to adjust the size based on screen width.
   ========================================================================== */
.outerDateContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    font-size: 10rem;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0.1rem 0.4rem 0.3rem rgba(0, 0, 0, 0.2);
    letter-spacing: 0.03em;
    line-height: 15rem;
}

.dateText {
    font-size: 3rem;
    color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.greetingText {
    font-size: 3.5rem;
    color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

/* S resolution: tablet */
@media screen and (max-width: 1250px) {
    .clock {
        font-size: 8rem;
        line-height: 10rem;
    }

    .dateText {
        font-size: 2.7rem;
    }

    .greetingText {
        font-size: 2.7rem;
    }
}

/* L resolution */
@media screen and (min-width: 1700px) {
    .clock {
        font-size: 13rem;
        line-height: 17rem;
    }

    .dateText {
        font-size: 4rem;
    }

    .greetingText {
        font-size: 5rem;
    }
}

/* Help button on the bottom left.
   ========================================================================== */
.helpContainer {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* Hovering changes the cursor (only for CRUD-testing) */
    cursor: pointer;
}

.helpIco {
    display: flex;
    aspect-ratio: 1/1;
    width: 3.2vw;
    stroke-width: 1.5px;
    stroke: #1C274C;
    height: max-content;
}

.helpText {
    margin-left: 0.5rem;
    color: #1C274C;
    opacity: 90%;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.0);
}