/*
    Author: Thomas H, Torjus A.M
*/
.employeeList {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: var(--moduleBorder);
    padding: 1rem;
    margin-bottom: 0.3rem;
    overflow-y: auto;
}

.employeeList h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--dark-text);
    line-height: 1em;
    font-family: 'Public Sans', sans-serif;
}

.employeeListItem {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    background-color: #fff;
    border: 1px solid #aaa7a79f;
    border-radius: 0.3rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}

.selected {
    background-color: #f3f3f3;
}


.employeeListItem:hover {
    background-color: #f3f3f3;
}

.employeeDetails {
    display: flex;
    flex-grow: 1;
}

.employeeName, .employeePosition {
    margin-right: 10px;
}

.employeeName {
    font-weight: bold;
    font-size: 1.2em;
}

.button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.editButton {
    background-color: green;
    color: white;
}

.editButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: red;
    color: white;
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: #da190b;
}

.createButton {
    padding: 10px 20px;
    margin-top: 20px; /* Space above the button */
    background-color: #4CAF50; /* Example color - a nice shade of green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.createButton:hover {
    background-color: #45a049; /* Darker shade on hover */
}

.createButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}