/* Author: Thomas H */
.keypad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 50%;
    height: 70%;
}

.pinDisplay {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    min-height: 4rem;
    width: 50%;
    border-radius: 30px;
    color: black;
    display: flex;
    justify-content: center;
}

.numberGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.keypadButton {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    color: black;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.keypadButton:active {
    transform: scale(0.9);
}

.cancelButton {
    background: linear-gradient(to bottom, #ff6b6b, #ff8787);
}

.confirmButton {
    background: linear-gradient(to bottom, #4caf50, #66bb6a);
}

.errorMessageContainer {
    height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.errorMessage {
    color: red;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}

/*****************************
Knapp animasjon
*****************************/
