/* Author: Torjus A.M */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: absolute;
  background-color: #01497C;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}