/*
 * Author: Torjus A.M, Thomas H
 *
 * Styles for the table, as well as media queries responsive to the viewport width
 * for the clock history table. "Stemplingshistorikk" module.
 *
 */

/* Author: Thomas H */
.tableContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .08);
    overflow: auto;
    overflow-x: hidden;
    margin: 0 1em 1em 1em;
}

.tableRow {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 0.1em solid #C9CBD0;
}

.rowItem {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Header */
.heading {
    background-color: #F5F7FA;
}

.heading > .rowItem {
    flex: 1;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    color: #606266;
}

/* Column 1: date */
.date h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: var(--dark-text);
}

.date h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #606266;
}

/* Column 3-4: Time */
.rowItem h3 {
    font-family: 'Lato', sans-serif;
    color: var(--light-text);
}

/* Author: Torjus A.M
    Column 2: stempling
   ========================================================================== */
.rowSubContainer {
    display: flex;
    flex-flow: column nowrap;
}

/* Width of column and its heading */
.rowSubContainer,
.heading > .rowItem:nth-child(2) {
    flex: 0 0 8rem;
}

.rowSubContainer > .rowItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding: 0.22em;
    border-bottom: 0.1em solid #C9CBD0;
    align-items: center;
}

.icon {
    width: 1.2rem;
    aspect-ratio: 1/1;
}

.rowSubContainer h1 {
    display: flex;
    justify-self: center;
    margin-left: 0.25em;
    font-family: 'Lato', sans-serif;
    color: var(--light-text);
    font-weight: 400;
}

/* Remove border if its a subContainer to avoid overlapping borders */
.tableRow:last-child,
.rowSubContainer .rowItem:last-child {
    border-bottom: 0;
}

/* ==========================================================================
   Media queries for the table. Responsive to viewport width.
   Author: Torjus
   ========================================================================== */

/* XS resolution */
@media screen and (max-width: 1360px) {
    .heading > .rowItem {
        font-size: 1.1rem;
    }

    /* Date column and header width */
    .date,
    .heading > .rowItem:nth-child(1) {
        flex: 0 0 3.3rem;
    }

    .rowSubContainer,
    .heading > .rowItem:nth-child(2) {
        flex: 0 0 6rem;
    }

    .icon {
        width: 1.1rem;
    }

    .date h1 {
        font-size: 1.45rem;
    }

    .date h2 {
        font-size: 1rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.35rem;
    }

    .rowSubContainer > .rowItem {
        padding: 0.1em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 1.4rem;
        white-space: nowrap;
    }
}

/* S resolution */
@media screen and (min-width: 1360px) and (max-width: 1580px) {
    /* Date column and header width */
    .date,
    .heading > .rowItem:nth-child(1) {
        flex: 0 0 4.8rem;
    }

    .rowSubContainer,
    .heading > .rowItem:nth-child(2) {
        flex: 0 0 7rem;
    }

    .date h1 {
        font-size: 1.75rem;
    }

    .date h2 {
        font-size: 1.25rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.5rem;
    }

    .rowSubContainer > .rowItem {
        padding: 0.05em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 1.75rem;
        white-space: nowrap;
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}

/* M resolution */
@media screen and (min-width: 1580px) and (max-width: 1700px) {
    .timeModules h1 {
        font-size: 1.4rem;
    }

    .timeModules h2 {
        font-size: 2.1rem;
    }

    /* Date column and header width */
    .date,
    .heading > .rowItem:nth-child(1) {
        flex: 0 0 5.5rem;
        padding: 0.3em;
    }

    .rowSubContainer,
    .heading > .rowItem:nth-child(2) {
        flex: 0 0 7.5rem;
    }

    .date h1 {
        font-size: 1.95rem;
    }

    .date h2 {
        font-size: 1.35rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.7rem;
    }

    .rowSubContainer > .rowItem {
        padding: 0.01em;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 2.3rem;
        white-space: nowrap;
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}

/* L resolution */
@media screen and (min-width: 1700px) {

    .heading > .rowItem {
        font-size: 1.5rem;
    }

    /* Date column and header width */
    .date,
    .heading > .rowItem:nth-child(1) {
        flex: 0 0 7.3rem;
        padding: 0.3em;
    }

    .rowSubContainer,
    .heading > .rowItem:nth-child(2) {
        flex: 0 0 9rem;
    }

    .date h1 {
        font-size: 2.3rem;
        line-height: normal;
    }

    .date h2 {
        font-size: 1.6rem;
    }

    /* Column 2: Clocks */
    .rowSubContainer h1 {
        font-size: 1.9rem;
    }

    .rowSubContainer > .rowItem {
        padding: 0.01em;
    }

    .icon {
        width: 1.5rem;
    }

    /* Column 3-4: time */
    .rowItem h3 {
        font-size: 2.6rem;
    }
}