/*
 * Author: Torjus A.M, Thomas H
 *
 * Styles for the time modules above the clockhistory-table.
 */

/* Author: Thomas */
.timeModulesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    margin: 1em;
    height: fit-content;
}

.timeModules {
    display: flex;
    flex-direction: column;
    padding: 0.6em 1em;
    border-radius: 1em;
    box-shadow: 2px 4px 3px 0.2px #d5d5d5;
    border: #f6f6f6 0.5px solid;
    line-height: 2.6em;

}

.timeModules h1 {
    color: var(--light-text);
    font-family: 'Public Sans', sans-serif;
    white-space: nowrap; /* Always keep text in one line */
}

.timeModules h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #343639;
    letter-spacing: 0.04em;
    white-space: nowrap;
    text-shadow: 0rem 0.08rem 1rem rgba(114, 114, 115, 0.1);
}

.salaryTextColor {
    color: #0DB714;
}

/* Author: Torjus
    Loading styles
   ========================================================================== */
.loading {
    background: var(--loading-bg);
    background-size: var(--loading-bg-size);
    animation: var(--loading-effect);
}

.timeModules .loading {
    margin-top: 0.5rem;
    flex-grow: 1;
    height: 1.8rem;
    border-radius: 0.7rem;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/* Media queries
   ========================================================================== */

/* XS resolution */
@media screen and (max-width: 1360px) {
    .timeModules {
        line-height: 2.2em;
    }

    .timeModules h1 {
        font-size: 1.15rem;
    }

    .timeModules h2 {
        font-size: 1.7rem;
    }
}

/* S resolution */
@media screen and (min-width: 1361px) and (max-width: 1580px) {
    .timeModules {
        line-height: 2.1em;
    }

    .timeModules h1 {
        font-size: 1.2rem;
    }

    .timeModules h2 {
        font-size: 1.9rem;
    }
}

/* M resolution */
@media screen and (min-width: 1580px) and (max-width: 1700px) {
    .timeModules h1 {
        font-size: 1.4rem;
    }

    .timeModules h2 {
        font-size: 2.1rem;
    }
}

/* L resolution */
@media screen and (min-width: 1700px) {
    .timeModules h1 {
        font-size: 1.5rem;
    }

    .timeModules h2 {
        font-size: 2.2rem;
    }
}