@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

canvas {
  background-color: #131313;
  top: 0;
  left: 0;
  z-index: 1;
}

.clock {
  position: absolute;
  left: 50%;
  font-size: 68px;
  color: white;
  text-align: center;
  transform: translateX(-50%);
  padding-top: 20px;
  z-index: 2;
}

.employee-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  z-index: 3; /* Above the canvas */
}
