/*
 * Author: Torjus A.M, Thomas H
 * Styles for the PunchClock (Stemplingsklokke).
 */

/* ==========================================================================
  Button styles
  ========================================================================== */
.buttonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em;
    border-radius: 0.5em;
    /* Text styles */
    font-family: 'Public Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.buttonContainer:active {
    box-shadow: inset 3px 4px 6px 0 rgba(79, 83, 85, 0.75);
    transform: scale(0.95);
}

.buttonContainer:disabled {
    opacity: 50%;
    box-shadow: inset 3px 4px 6px 0 rgba(79, 83, 85, 0.75);
    pointer-events: none; /* Make button not pressable on disabled */
}

.clockedIn {
    background-color: #F42B2B;
}

.clockedOut {
    background-color: #008A06;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    aspect-ratio: 1/1;
    border-radius: 0.8em;
    padding: 0.4em;
    margin-right: 0.5em;
}

.clockedIn .iconContainer {
    background-color: #f74646;
    box-shadow: 1px 1px 1px rgba(120, 63, 63, 0.3);
}

.icon {
    display: flex;
    stroke: white;
    fill: white;
    stroke-width: 0.1em;
}

/* ==========================================================================
   Timer styles
   ========================================================================== */
.timeDisplay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.2em auto;
    overflow: hidden;
    /* Text styles */
    color: var(--light-text);
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

/* Timer */
.timeDisplay h1 {
    font-size: 3.2rem;
}

/* Time between check-times */
.timeDisplay h2 {
    margin-top: 0.5em;
    font-size: 1.5rem;
}

/* Timer loading styles TODO: Update loading to use react-loader-spinner
   ========================================================================== */
.line {
    margin-top: 1.3em;
    height: 2.4rem;
    width: 18em;
    border-radius: 5em;
    background: var(--loading-bg);
    background-size: var(--loading-bg-size);
    animation: var(--loading-effect);
}

.w2 {
    margin-top: 2.3em;
    margin-bottom: 0.6em;
    height: 1.2rem;
    width: 5.5em;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/* Media queries for responsiveness based on viewport size
   ========================================================================== */


/* When between 1123px - 1300px width, or 701px - 900px height */
@media screen and (min-width: 1123px) and (max-width: 1300px), screen and (max-height: 900px) {
    .timeDisplay {
        margin: 0 0.3em;
    }

    .timeDisplay h1 {
        font-size: 2.9rem;
    }

    .timeDisplay h2 {
        margin-top: 0.5em;
        font-size: 1.35em;
    }

    .line {
        margin-top: 1em;
        height: 2.3rem;
        width: 15.9em;
        border-radius: 4em;
    }

    .w2 {
        margin-top: 2.1em;
        margin-bottom: 0.45em;
        height: 1.2rem;
        width: 5.5em;
    }
}

/* When below 1123px width */
@media screen and (max-width: 1123px) {
    .timeDisplay h1 {
        font-size: 2.5rem;
    }

    .timeDisplay h2 {
        margin-top: 0.45em;
        font-size: 1.3em;
    }
}