.container {

}

.containerDisabled {

}

.container h1 {

}

.container h2 {

}

.errorMsg {

}

.strongText {

}

.container button {
    border: 1px solid black;
    width: 100px;
    height: 20px;
}