/**
 * Author: Torjus A.M
 *
 * Styles for the employee-page and its modules. (Nav bar styling is in .src/styles/navbars.module.css).
 * Starts by defining shared styles for all containers, then specific styles for the modules.
 * 
 * 
 * To-Do: 
 *  Make the arrow icon be at the right of the module
 *   - Header text responsiveness
 */

/* Google fonts Public Sans & Lato*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.personalPageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2.3rem;
  padding-bottom: 0.5rem;
}

/* Outer for modules container */
.personalPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: auto;
}

/* ==========================================================================
   Shared styles for all modules
   ========================================================================== */

.moduleHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.moduleHeader h1 {
  font-size: 1.7rem;
  font-weight: 800;
  color: #212B36;
  line-height: 1em;
  font-family: 'Public Sans', sans-serif;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A98FF;
  width: 3em;
  aspect-ratio: 1/1;
  border-radius: 0.8em;
  padding: 0.4em;
  margin-right: 1em;
}

.icon {
  display: flex;
  stroke: white;
  fill: none;
  stroke-width: 0.12em;
}

/* Media queries to change the module content by screen-size */
@media screen and (max-width: 1300px) {
  .personalPageContainer {
    padding: 2rem;
    padding-bottom: 0.5rem;
  }
  .moduleHeader {
    padding: 0.8em;
  }

  .headerText {
    font-size: 1.4rem;
  }

  .iconContainer {
    width: 2.5em;
  }
}

/* Line seperators below header */
.personalPage hr {
  height: 0.05em;
  width: 100%;
  background-color: #b9bbc0;
}

/* ==========================================================================
   Styles for modules ShiftList and PunchClock
   ========================================================================== */

/* Holds both modules on the left, stacks them ontop of eachother evenly spaced */
.outerModuleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.module {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px 1px #e0dada;
  margin-bottom: 2rem;
  border: #eeeeee 1px solid;
}

/* Container for content inside modules, below the header and seperator. */
.moduleContent {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  overflow: auto;
}

/* ShiftList: Vaktliste
   ========================================================================== */

.expandIcon {
  display: flex;
  justify-self: flex-end;
  stroke: #212B36;
  width: 2.1em;
  stroke-width: 0.1em;
}

.monthContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monthText {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #C9CBD0;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

/* ==========================================================================
   Clock History layout: Stemplingshistorikk
   ========================================================================== */

.outerClockHistoryContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 1.5rem;
}

.clockHistoryContainer {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  box-shadow: 3px 5px 5px 1px #e0dada;
  margin-bottom: 2rem;
}

.clockHistoryIcon {
  fill: white;
  stroke-width: 0.25;
  aspect-ratio: 1/1;
}